/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    color:#d63031;
    font-size: 36px;
	margin-top: 0;
	margin-bottom: 20px;
}

body {
    background-color:#b2bec3;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    }


.vizitka {
    background-color:white;
    position: relative;
	width: 550px;
	margin: 150px auto 100px auto;
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}

img {
    border-radius: 50%;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    border: 5px solid white;
    top: -75px;
	right: -75px;
	width: 150px;
	height: 150px;
    position: absolute;
}
	

.obdelnik a {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 30px;
    text-align: center;
    margin-bottom: 5px;
    padding: 10 px 20 px;
    display: block;
}


.twitter {
	background-color: #1da1f2;
}

.twitter:hover {
	background-color: #0b7bc1;
}

.facebook {
	background-color: #3b5998;
}

.facebook:hover {
	background-color: #2b406e;
}




/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

